*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* 1st section */
.navbar{

    display: flex;  
    align-items: center; 
    justify-content: space-between;
}
.background1{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 615px;
}
.div1{
    position: absolute;
    top: 40px;
    left: 150px;
    display: flex;
    align-items: center;
}
.div1 a{
    position: absolute;
    text-decoration: none;
    color: rgb(80, 77, 77);
    padding-right: 40px;
}

.div2{
    position: absolute;
    
    top: 70px;
    left: 320px;
}
.a{
    display: flex;
    align-items: center;
    padding-right: 50px;
}
.a a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(104, 100, 100);
    margin-right: 35px;
}
.a a :hover{
    border-bottom: 3px solid rgb(142, 35, 142);
}

.div3{
    position: absolute;
    top: 70px;
    right: 170px;
}
.div3 a{
    background-color: white;
    color: black;
    z-index: 5;
    text-decoration: none;
    font-size: small;
    padding: 2px 22px;
    border: 2px solid white;
    border-radius: 30px;
    transition: ease 1s; 
}
.div3 :hover{
    color: blue;
}
.row{
    display: flex;
}
.div4{
    position: absolute;
    top: 230px;
    left: 190px;
}
.div5{
    position: absolute;
    top :325px;
    left: 190px;
}
.pics{
    position: absolute;
    top: 60px;
    right: 60px;
    margin-top: 20px;
}

.div6 img{
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    width: 600px;
    height: 600px;
}   
.div7 img{
    position: absolute;
    z-index: 2;
    top: 30px;
    right: 210px;
    width: 250px;
    height: 400px;
}   
.div8 img{
    position: absolute;
    z-index: 2;
    top: 340px;
    right: 150px;
    width: 350px;
    height: 175px;
}   
.div9 img{
    position: absolute;
    z-index: 3;
    top: 440px;
    right: 300px;
    width: 1250px;
    height: 190px;
}
/* 2nd section */
.details{
    position: relative;
    /* margin-top: 150px; */
}
.waves{
    position: absolute;
    width: 750px;
    height: 500px;
    top: 100px;
    left: 330px;
}

.details1{
    display: flex;
}
.div10{
    position: absolute;
    height: 250px;
    width: 400px;
    top: 175px;
    left: 130px;
    text-align: center;
}  
.div11{
    position: absolute;
    height: 250px;
    width: 400px;
    top: 320px;
    left: 500px;
    text-align: center;
}  
.details2{
    display: flex;
    justify-content: space-around;
}
.div12{
    position: absolute;
    top: 550px;
    left: 150px;

}
.div12 img{
    position: absolute;
}
.div12 p{
    position: relative;
    top: 75px;
    left: 75px;
    color: white;
    margin-bottom: 10px;
}
.div12 h2{
    position: relative;
    top: 75px;
    left: 75px;
    color: white; 
    font-size: xx-large;  
}
.div13{
    position: absolute  ;
    height: 250px;
    width: 400px;
    top: 550px;
    left: 800px;
    text-align: center;    
}
/* 3rd section */
.slider{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-top: 900px;
}
.div14{
    margin-left: 200px;
}
.div15{
    text-align: center;
    margin: 0px 150px;
}
/* last section */
.footer{
    display: flex;
    align-items: center;
    height: 400px;
    margin-top: 150px;   
}
.background2{
    position: relative;
    z-index: 10;    
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.div18{
    position: absolute;
    z-index: 11;
    width: 650px;
    height: 425px;
    top: 2085px;
    right: 100px;
}
.div19{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 11;
    top: 2340px;
    left: 100px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 9px 15px;
    background-color: white; 
}
.div19 img{
    margin-right: 10px;
}
.div20{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 11;
    top: 2340px;
    left: 250px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 9px 13px;
    background-color: white; 
}
.div20 img{
    margin-right: 10px;
}
.div21{
    position: absolute;
    z-index: 11;
    align-items: center;
    display: flex;
    top: 2420px;
    left: 100px;
}
.div21 img{
    margin-right: 15px;
}
.div22{
    position: absolute;
    z-index: 11;
    align-items: center;
    display: flex;
    top: 2480px;
    left: 100px;
}
.div22 p{
    margin-right: 60px;
    color: white;
    font-size: medium;
}
